
body,html 
{
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;

    
}
body
{
    background-color:#191919;
    display: flex;
    flex-direction: column;
}
.inactive
{
    background-color:rgb(98, 98, 98)
}

.live
{
    background-color:rgb(98, 153, 98)
}

.old
{
    background-color:rgb(153, 98, 98)
}

a.selected
{
    background-color:#ccc;
    color:#000;
}

a.selected:visited
{
    background-color:#ccc;
    color:#000;
}

.terminal_reader
{
    width:800px;
    margin:0px auto;
    text-align:center;
    min-width:800px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    
    border:1px solid white;
}

.terminal_reader div.terminal-box
{
    display:inline-block;
    height:300px;
    width:100%;
    margin:0px;
    padding:0px;
}
.terminal_reader h4.statusbar
{
    display:inline-block;
    min-width:790px;
    width:100%;
    text-align:left;
    margin:0px;
    padding:3px;
    padding-left:5px;
    box-sizing: border-box;
    font-weight:normal;
    font-size:1em;
    padding-top:2px;
}

.terminal_reader h4.statusbar div.rightdiv
{
    float:right;
    width:100px;
    padding-top:5px;
    padding-right:8px;
    text-align:right;
}

/*
.terminal_reader h4.statusbar span
{
    display:inline-block;
    text-align:left;
    vertical-align:center;
    padding-top:5px;
}*/
.terminal_reader .keystrokes 
{
    min-width:800px;
    width:100%;
    height:100px;
    color: #cfc;
    border:1px solid white;
    background: #000;
    display:inline-block;
    font-family:"Courier New";
    margin:0px;
    padding:0px;
    border:none;
    outline:none;
    resize:none;
    overflow:auto;
}

.terminal_reader .controlbar
{
    height:25px;
    width:100%;
    display:flex;
    margin:0px;
    padding-top:0px;
    margin-top:5px;
}

.terminal_reader .controlbar .rightdiv
{
    position:relative;
    top:-5px;
    display:block;
    float:right;
    width:280px;
    text-align:left;
    overflow:visible;    
    padding:0px;
    margin:0px;
}

.terminal_reader .controlbar .leftdiv
{
    position:relative;
    top:-5px;
    display:block;
    float:left;
    width:54px;
    text-align:right;
    overflow:visible;    
    padding:0px;
    margin:0px;
}

.terminal_reader .session-slider
{
    margin:0px 20px;
    width:fit-content;
    flex:content;
    vertical-align:center;
}

.terminal_reader h4.statusbar a
{
    color:#000;
    text-decoration:none;
    font-weight:bolder;
}


.terminal_reader div.media_buttons .button, .terminal_reader div.speed_buttons .button
{
    display:inline-block;
    width:30px;
    height:30px;
    background-repeat:no-repeat;
    cursor:pointer;
    background-image:url('../img/sprites.png');
    background-size:300px 30px;
    padding:0px;
    margin:0px;
}

.terminal_reader div.media_buttons
{
    display:block;
    float:left;
    
    padding-left:8px;
    
}

.terminal_reader div.speed_buttons input
{
    border:1px solid white;
    background-color:#000;
    color:#fff;
    height:24px;
    position:relative;
    top:-12px;
}

.terminal_reader div.speed_buttons input.speed_box
{
    width:40px;
    margin-right:2px;
}

.terminal_reader div.speed_buttons input.event_index_box
{
    margin-right:2px;
    width:30px;
    border:none;
}

.terminal_reader div.speed_buttons input.delay_box
{
    margin-right:2px;
    width:50px;
    border:none;
}

.terminal_reader div.speed_buttons .pause
{
    background-position: -240px 0px;
    width:28px;
}

.terminal_reader div.speed_buttons .play
{
    background-position: 0px 0px;
    width:28px;
}

.terminal_reader div.speed_buttons .prev
{
    background-position: -180px 0px;
}

.terminal_reader div.speed_buttons .next
{
    background-position: -150px 0px;
}

.terminal_reader div.speed_buttons .slower
{
    background-position: -120px 0px;
    width:28px;
}

.terminal_reader div.speed_buttons .faster
{
    background-position: -30px 0px;
}

.terminal_reader div.speed_buttons .to-end
{
    background-position: -60px 0px;
    width:23px;
}

.terminal_reader div.speed_buttons .to-start
{
    margin-left:2px;
    background-position: -90px 0px;
    width:22px;
}



div.session_list_container
{
    display:inline-block;
    height:100%;
    vertical-align:top;
    width:50%;
    float:left;
    margin:0px;
    padding:0px;
    text-align:center;
    flex:1;
    max-height:100%;
    overflow:auto;
}

div.session_list_container ul
{
    min-width:300px;
    max-width:500px;
    width:50%;
    margin:0px auto;
}

div.list-container 
{
    height:100%;
    max-height:100%;
    min-height:200px;
    margin:0px;
    padding:0px;
    background-color:blue;
    flex:1;
    overflow: hidden;
    
}

div.session_list_container li
{
    list-style-type: none;
    width:100%;
    margin:5px;
    background-color:#333;
    display:inline-block;
}

div.session_list_container li a
{
    
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    font-weight:bold;
    border: none;
    padding:5px;

}

div.session_list_container li a:hover
{
    background-color:#ddd;
    display:inline-block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #333;
    font-weight:bold;
}

a:visited
{
    color: #ccc;
}

a:active 
{
    color:#000;
}
a
{
    color:#9f9;
}